
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual Environments
venv/
env/
.venv/

# Model Checkpoints
checkpoints/
*.pth

# Results
results/

# Dataset
SECOND/
SEN12MS/

# IDE
.vscode/
.idea/

# Logs
*.log

# OS Files
Thumbs.db
.DS_Store
